# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build outputs
dist/
build/

# Coverage
coverage/
.nyc_output
*.lcov

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.docker

# IDE and Editor settings
.vscode/
*.code-workspace

# Parcel.js
.cache/
.parcel-cache

# Next.js
.next/
out/

# Yarn and npm files
.yarn/
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.npm

# TypeScript cache
*.tsbuildinfo

# Optional stylelint and eslint caches
.stylelintcache
.eslintcache

# REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Debugging
*.log
*.pid

# Miscellaneous
*.DS_Store
Thumbs.db
.env
pahilo-backend/credentials/credential.json
